# Copie para .env e ajuste os valores para seu ambiente
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=divida
POSTGRES_USER=divida
POSTGRES_PASSWORD=divida_dev
SERVER_PORT=8080
JPA_DDL_AUTO=update
